{
  "plugins": [
    ["prismjs", {
      "languages": [
        "css",
        "elm",
        "java",
        "javascript",
        "json",
        "markup",
        "php",
        "py",
        "scala",
        "shell"
      ],
      "plugins": ["toolbar", "copy-to-clipboard"],
      "theme": "twilight",
      "css": true
    }]
  ]
}
